
@{
    ViewData["Title"] = "Index";
}

  <main>
        <section id="title-service" class="mt-3 p-5">
            <h1>MƏXFİLİK SİYASƏTİ</h1>
        </section>
    
        <section id="privacy">
            <div class="container">
                <div class="row mt-5">
                    <div class="title">
                        <h3>Ümumi qaydalar</h3>
                    </div>
                    <div class="col-lg-12">
                        <div class="text mt-4">
                            <p>Lib-school.az da qeydiyyatdan keçən fiziki və hüquqi şəxs barəsində aşağıdakı məlumatlar toplanılır:</p>
                            <ul>
                                <li>Elektron poçt (email)</li>
                                <li>Adı soyadı və istifadəçi adı</li>
                                <li>Doğum tarixi</li>
                                <li>Əlaqə nömrələri</li>
                                <li>Cinsi</li>
                                <li>Yaşadığı şəhər</li>
                                <li>Ünvan</li>
                                <li>Şifrə</li>
                            </ul>
                            <p>Qeyd edilən məlumatlar lib-school.az-ın təhlükəsiz sistemində saxlanılır, SSL sertifikatı ilə müdafiə edilir və yalnız istifadəçinin sifarişinin yerinə yetirilməsi məqsədilə istifadə edilir. Əlavə olaraq, qeyd edilən məlumatlar – hesabın yaradılması və fəaliyyətinin təmin edilməsi, sifarişlərin yerinə yetirilməsi, daxil olan sual və sorğulara cavab verilməsi və müştəri xidmətinin yüksək standartlara uyğun təmin edilməsi məqsədilə istifadə edilir. Qeyd edilən məlumatlardan istifadə edilərək Sizinlə əlaqə saxlanıla və sifariş etmiş olduğunuz kurs barəsində suallar verilə bilər.</p>
                            <p>Həmçinin, qeyd edilən email ünvanına vaxtaşırı lib-school.az-ın təklif etdiyi məhsullar və endirimlər barəsində məlumat göndərilə bilər.</p>
                            <p>Yuxarıda qeyd ediləndən başqa istifadəçi barəsində toplanılan məlumat başqa məqsədlər üçün istifadə edilmir, o cümlədən, bu məlumatlar üçüncü tərəfə ötürülmür.</p>
                            <p>İstifadəçinin bank kartı haqqında toplanılan məlumatlar heç bir halda lib-school.az serverində saxlanılmır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

